.hide{
    display: none;
}

a{
    background-color: #EEE;
    padding: 30px;
    display: inline-block; 
}

a:hover{
    background-color: #F00;
}

.content-flex{
    display: flex;
    width: 1280px;
    /* flex-direction: ;  altera o alinhamento do texto para vertical/horizontal ele altera o align-items e o justify-content (inverte)*/
    justify-content: flex-start;
    height: 500px;
    align-items: center;
    flex-wrap: wrap;

}

.content-flex p{
    padding: 30px;
    width: 250px;

}

.content-flex p:first-child{ /* pseudoclasse */
    font-weight: bold;
}

.content-flex p::before{        /* before aplica no inicio, after aplica no final */
    content: '';
    width: 20px;
    height: 20px;
    background-color: #F00;
    display:block;
    margin-right: 20px;
}