/* Zera os estilos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Fonte do site */
body {  
    font-family: Arial, sans-serif;
}

/* Barra azul */
.topo-azul{
    background-color: #0066ff;
    color: white;
    text-align: center;
    padding: 6px;  /* VERIFICAR LARGURA */
    font-size: 14px;
}

/* parte dos R$10 */
.highlight {    
    background-color: #76279e;
    color: white;
    padding: 0px 3px 0px 3px;
    border-radius: 4px;
}

/* parte do DESCONTO10 */

.cupom{
    color: #C4B5FD;
}

/* Cabeçalho principal */
.header{
    background-color: white;
    box-shadow: 0 2px 4px rgb(0,0,0,0.05);
}

.container-header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Agrupamento de logo + barra de busca */
.left-group {
    display: flex;
    align-items: center;
    gap: 50px;
    flex: 1;
}

/* logomarca */

.logo-container {
    background-color: white;
    padding: 5px;
}

.logo {
    height: 30px;
    filter: brightness(0) saturate(100%);
}

/* Campo de busca */

.search-bar {
    position: relative;
    width: 55%;
    
}

.search-bar input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
}

.search-bar i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 16px;

}

/* Área do usuário */

.user-cart {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #333;
}

.user span {
    line-height: 1;
    font-size: 12px;
}

.user i {
    color: #0066FF;
    font-size: 20px;
}


/* Área do carrinho */

/* VERIFICAR A ESTILIZAÇÃO DO CARRINHO PARA FICAR TRANSPARENTE */

.cart {
    position: relative;
    font-size: 20px;
    color: black;

}

.cart i {
    font-size: 22px;
    color: black;
}

.badge {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: #005CFF;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MENU DE NAVEGAÇÃO PRINCIPAL */

.nav-menu {
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    border-top: 1px solid #eee;
    font-size: 14px;
}

.nav-links {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 30px;
    list-style: none;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.2s ease;
}

.nav-links a:hover {
    color: #0066ff;
}

/* "Todas as categorias" com ícone */
.menu-categorias {
    cursor: pointer;
}

.menu-categorias a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    white-space: nowrap;
}

.menu-categorias a:hover {
    color: #0066ff;         /*PARA FICAR AZUL AO PASSAR O MOUSE POR CIMA*/
}

/* Menu */

.menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    max-width: 100%;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 20px 30px;
    z-index: 10;
    justify-content: space-between;
    gap: 20px;
}

.menu-categorias:hover .menu {
    display: flex;
}

/* Estilo das colunas do mega menu */

.menu .coluna {
    flex: 1;
    padding: 0 15px;
}

.menu h4 {
    font-size: 15px;
    margin-bottom: 10px;
    color: #111;
    font-weight: bold;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    margin-bottom: 8px;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.2s ease;
}


.menu ul li:hover {
    color: #0066ff;
    text-decoration: underline;
}

/* Coluna com Imagem e botão */
.menu .imagem-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.menu .imagem-banner img {
    width: 180px;
    border-radius: 8px;
    object-fit: cover;
}

.menu .imagem-banner button {
    background-color: #0066ff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu .imagem-banner button:hover {
    background-color: #004fc4;
}

.menu ul li a {
    color:#333;
    text-decoration: none;
    transition: color 0.2s ease;
}

.menu ul li a:hover {
    color: #0066ff;
    text-decoration: underline;
}

/* SUBMENU - PRIMEIRO DEPARTAMENTO COM COLUNAS */

.has-submenu:hover .submenu-departamento {
    display: flex;
}

.submenu-departamento {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 20px 30px;
    z-index: 10;
    justify-content: space-between;
    gap: 20px;
    width: 1000px;

}

/* Reaproveitando estilos semelhantes ao menu principal */
.submenu-departamento .coluna {
    flex: 1;
    padding: 0 15px;
}

.submenu-departamento h4 {
    font-size: 15px;
    margin-bottom: 10px;
    color: #111;
    font-weight: bold;
}

.submenu-departamento ul {
    list-style: none;
}

.submenu-departamento ul li {
    margin-bottom: 8px;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.submenu-departamento .imagem-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.submenu-departamento .imagem-banner button {
    background-color: #0066ff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submenu-departamento .imagem-banner button:hover {
    background-color: #004fc4;
}