/* reset css */

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* formatação geral das tags */
a{
    color: #000;
    text-decoration: none;          /* tira as linhas sublinhadas de links */
}



/* formatação das classes gerais */

/* (alinhar ao centro) */
.container{
    width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
}

.justify-content-space-between{
    justify-content: space-between;
}

.justify-content-space-around{      /* around deixa os elementos com o espaçamento igual*/
    justify-content: space-around;
}
/*  header */

header{
    background-color: #666;
    padding: 10px;
    /* width: 1280px;       */
    /* margin: auto;        faz o alinhamento */
    /* display: flex;      deixa um elemento do lado do outro */
    /* justify-content: space-between;     deixa cada um em uma extremidade */

}

/* menu de navegação */

nav{
    background-color: #EEE;
    /* padding: 15px 0; */
}

nav ul{
    list-style: none;
    background-color: #EEE;
}

nav ul li a{
    background-color: #333;
    color: #FFF;
    padding: 10px;
    display: inline-block;
    transition: all ease-in-out 0.3s;       /* transition serve para dar estilo quando passar o mouse em cima */
}

nav ul li a:hover{     /* hover, coloca o cursor no link */
    background-color: #FFF;
    color: #333
}

/* main */

main{
    padding: 10px 0;
}

main section{
    border: 1px solid  #DDD;
    margin: 20px 0;
    padding: 30px;
    border-radius: 30px;        /*deixa a borda arredondada */
    background-color: #DDD;

}

main section#tecnologia{
    background-color: #FFF;
}

main section article{
    margin: 20px 0;
    border-bottom: 1px solid #EEE;
    padding-bottom: 20px;
}

main section h2{
    font-size: 16px;
    margin: 15px 0;
}

main section p{
    margin: 20px 0;
}

main section a{
    background-color: #666;
    color: #FFF;
    padding: 15px;
    margin-top: 20px;
    display: inline-block;
}

footer{
    background-color: #666;
    color: #EEE;
    padding: 20px 0;
    text-align: center;
}

footer p{
    letter-spacing: 1px;    /* da o distânciamento entre letras do texto */
}

/* sobre */
/* é criado para linkar com a página principal */
